.asSeenOn {
  padding: 140px 0;
  background: #02071a;
  width: max-content;
  margin: 0 auto;
  padding: 20px 50px;
  max-width: 1750px;
  margin: 0 auto;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 16px;
}


.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  justify-content: start;
  gap: 16px;

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 35px;
    align-items: center;
  }

  .title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 45px;
    line-height: 128%;
    letter-spacing: -0.02em;
    color: #fff;
  }

  .description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 170%;
    letter-spacing: -0.03em;
    text-align: right;
    color: #d1d5e6;
  }

  .badgeContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 18px;
    margin-bottom: 4px;


    .badge {
      backdrop-filter: blur(40px);
      box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3), inset -2px -5px 20px 0 #90adff;
      background: rgba(9, 15, 34, 0.8);
      padding: 7px 28px;
      border-radius: 42px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.02em;
      color: #fff;
      gap: 5px;
    }
  }
}

.gridPanel {
  width: 100%;
  border-radius: 16px;
  margin-top: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-auto-rows: 120px;

  border-radius: 12px;
  overflow: hidden;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eef2ff;
  border-right: 1px solid rgba(255, 255, 255, 0.08);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  padding: 12px;
  text-align: center;
  cursor: pointer;

  >* {
    max-width: 90%;
  }

  .image {
    transition: 0.3s ease;

    filter: grayscale(100%);

    &:hover {
      filter: grayscale(0%);
      transform: scale(1.04);

    }
  }

}

.noRightBorder {
  border-right: none;
}

.noBottomBorder {
  border-bottom: none;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .cell:nth-child(3n) {
    border-right: none;
  }
}

@media (max-width: 768px) {
  .asSeenOn {
    padding: 80px 0;
  }

  .content {
    grid-template-columns: 1fr !important;
    gap: 12px !important;
  }

  .description {
    text-align: left !important;
  }

  .title {
    font-size: 32px !important;
  }

  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .cell:nth-child(2n) {
    border-right: none;
  }
}