.footer {
  padding: 70px 45px 40px;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 1500px;
  margin: 0 auto;}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.mainFooter {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 4rem;
}

.brand {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
}
.logo{
  margin-bottom: 45px;
}
.brandDescription {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 136%;
  letter-spacing: -0.04em;
  color: #999a99;
  margin-bottom: 38px;
}

.newsletter {
  display: flex;
  gap: 0.5rem;
  padding: 12px 0 ;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 28px;

}

.newsletterInput {
  flex: 1;
  background: transparent;
  border-radius: none;
  color: white;
  font-size: 0.9rem;
  border: none;

font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: rgba(255, 255, 255, 0.5);

  &:focus {
    outline: none;
    border-color: rgba(139, 92, 246, 0.5);
  }
}

.newsletterButton {
  background: linear-gradient(135deg, #86a6fe 7.21%, #e0e3ff 100%);
  display: grid;
  place-items: center;
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}


.socialLinks {
  display: flex;
  gap: 16px;
  margin-bottom: 50px;
}



.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.columnTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  cursor: pointer;
  margin-bottom: 6px;
}

.columnLink {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.04em;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.bottomFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.legalLinks {
  display: flex;
  gap: 2rem;
}

.legalLink {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: rgba(255, 255, 255, 0.9);
  }
}

.backToTop {
  box-shadow: inset -3px -1px 14px 1px rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 42px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 143%;
  letter-spacing: -0.04em;
  text-align: center;
  color: #b3b3b3;
  padding: 0 17px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}