.infrastructure {
  padding: 100px 0;
  max-width: 1750px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  gap: 4rem;
  align-items: center;
}


.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  justify-content: start;
  padding-bottom: 60px;

  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 35px;
    align-items: center;
  }

  .title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 45px;
    line-height: 128%;
    letter-spacing: -0.02em;
    color: #fff;
    max-width: 400px;
  }

  .description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: -0.03em;
    text-align: right;
    color: #afafaf;
    max-width: 300px;
  }
}

.tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;

  .tab {
    backdrop-filter: blur(40px);
    box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3), inset -2px -5px 20px 0 #90adff;
    background: rgba(9, 15, 34, 0.8);
    border-radius: 42px;
    padding: 0 20px;
    height: 38px;
    display: grid;
    place-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.02em;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;

    &.active {
      backdrop-filter: blur(40px);
      box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3), inset -2px -5px 20px 0 #4c4c8d;
      background: #fff;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 18px;
      line-height: 133%;
      letter-spacing: -0.02em;
      color: #02071a;
      padding: 0 19px;
    }
  }
}


.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;

  .card {
    display: flex;
    flex-direction: column;

    .imageWrapper {
      width: 100%;
      height: 250px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .title {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 24px;
      line-height: 133%;
      letter-spacing: -0.02em;
      color: #f1f1ef;
      margin: 6px 0;
      min-height: 64px;

    }

    .subTitle {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: -0.02em;
      text-align: justify;
      color: #afafaf;
      display: -webkit-box;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}