.joinCommunity {
  padding-top: 100px;
  padding-bottom: 40px;
    max-width: 1500px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 63%;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 54px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  line-clamp: 1;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  white-space: nowrap;

  span {
    text-shadow: 10px 10px 30px #5699FB;
  }
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 109%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.form {
  display: flex;
  margin-bottom: 2rem;
  box-shadow: inset -5px -5px 10px 0 #fff, inset 5px 5px 10px 0 rgba(170, 170, 204, 0.5), inset 2px 2px 4px 0 rgba(170, 170, 204, 0.25), inset -2px -2px 4px 0 rgba(255, 255, 255, 0.5);
  background: #f5f5fa;
  border-radius: 50px;
  overflow: hidden;
  margin-top: 40px;
}

.input {
  flex: 1;
  border-radius: 50px;
  padding: 10px 28px;
  font-size: 1rem;
  font-weight: 300;
  font-size: 36px;
  line-height: 111%;
  color: #7878ab;
  border: none;
  background-color: transparent;
}

.submitButton {
  padding: 10px 22px;
  backdrop-filter: blur(40px);
  box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3), inset -2px -5px 20px 0 #90adff;
  background: rgba(9, 15, 34, 0.8);
  border-radius: 50px;
  border: none;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  padding-right: 60px;


  .searchIcon {
    border-radius: 32px;
    width: 40px;
    height: 40px;
    box-shadow: -5px -5px 10px 0 rgba(255, 255, 255, 0.3), 5px 5px 10px 0 rgba(170, 170, 204, 0.4);
    background: #7e95d4;
    display: grid;
    place-items: center;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

  }
}

.socialLinks {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.socialLink {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 42px;
  width: 64px;
  height: 64px;
  box-shadow: inset -3px -1px 14px 1px rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  display: grid;
  place-items: center;

}

.visual {
  position: relative;
  width: 40%;
  height: 400px;

  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -33%;
    height: 750px;
    width: auto;
  }
}

.cryptoIcons {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.cryptoIcon {
  position: absolute;
  width: 60px;
  height: 60px;
  background: rgba(59, 130, 246, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}