.roadmap {
  padding: 140px 0;
  background: url("/images/goalsBackround.png");
  background-size: cover;
  background-position: center;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  gap: 4rem;
  align-items: center;
}


.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  justify-content: start;
  padding-bottom: 60px;

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 35px;
    align-items: center;
  }

  .title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 45px;
    line-height: 128%;
    letter-spacing: -0.02em;
    color: #fff;
  }

  .description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: -0.03em;
    text-align: right;
    color: #afafaf;
  }

  .badgeContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 18px;
    margin-bottom: 8px;


    .badge {
      backdrop-filter: blur(40px);
      box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3), inset -2px -5px 20px 0 #90adff;
      background: rgba(9, 15, 34, 0.8);
      padding: 7px 28px;
      border-radius: 42px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.02em;
      color: #fff;
      gap: 5px;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;

  .card {
    padding: 16px 28px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    box-shadow: inset 0 6px 6px 0 rgba(123, 136, 157, 0.15), 5px 5px 20px 0 rgba(255, 255, 255, 0.15);
    background: #02071a;
    cursor: pointer;

    // &:hover {
    //   box-shadow: inset 0 -25px 50px 0 #1e2d55, inset 0 -20px 20px 0 #ffffff, inset 0 -12px 12px 0 #d2e5ff7c, inset 0 6px 6px 0 rgba(123, 136, 157, 0.15), 5px 5px 20px 0 rgba(255, 255, 255, 0.4);
    //   background: #02071a;
    //   transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    // }

    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    .cardId {
      font-weight: 500;
      font-size: 20px;
      line-height: 145%;
      letter-spacing: -0.09em;
      color: #fff;
    }

    .cardTitle {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 22px;
      line-height: 133%;
      letter-spacing: -0.06em;
      color: #fff;
    }

    .cardStatus {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: #9ac2ff;
      margin-bottom: 8px;
    }


    .cardSteps {
      font-weight: 400;
      font-size: 12px;
      line-height: 185%;
      letter-spacing: -0.03em;
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
  }
}