.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: opacity 0.3s;
  
  &:hover {
    opacity: 0.8;
  }
}

.image {
  height: 40px;
  width: auto;
}

